<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022514091642-5eno8d8kgmgievmdemmerr0s5jvq0ffu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022514091642-5eno8d8kgmgievmdemmerr0s5jvq0ffu</string>
	<key>API_KEY</key>
	<string>AIzaSyB_aVrMgANK73y1DTgjouEIbBdLNfc97u8</string>
	<key>GCM_SENDER_ID</key>
	<string>1022514091642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>douglasbiagigrana.LoginViewCode</string>
	<key>PROJECT_ID</key>
	<string>login-viewcode-bfa</string>
	<key>STORAGE_BUCKET</key>
	<string>login-viewcode-bfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022514091642:ios:9f30247d19843f0bcd8dc3</string>
</dict>
</plist>